h1{
    text-align: center;
}
body{
    border-radius: 5px;
    width: 360px;
    height: fit-content;
    background: linear-gradient(to bottom right,red,yellow,green,blue);
}

.download_button{
    background-color: #fff;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;

    border: 2px solid #fff;
}
.download_button img{
    height: 16px;
    width: 16px;
    margin-right: 2px;
}
#creator-name{
    
}